./contact-modal.txt
./TODOS.MD
env/
./.vscode/settings.json
./accounts/__pycache__/*.pyc
./blog/__pycache__/*.pyc
./accounts/migrations/
./blog/migrations/
./ruguru/__pycache__/*.pyc
./staticfiles/
./*.sqlite3
./ruguru/settings.py
misc/
media/