

/* ------------------------------------------------------------------- 
 * ## vertical spacing and typescale
 * ------------------------------------------------------------------- */
:root {

    /* spacing
     * base font size: 18px 
     * vertical space unit : 32px
     */
    --space         : 3.2rem;
    --vspace-1_5  : calc(1.5 * var(--space));
    
}



/* =================================================================== 
 * # preloader
 *
 * ------------------------------------------------------------------- */
 #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background: white;
    z-index: 500;
    height: 100vh;
    width: 100%;
    opacity: 1;
}

.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader {
    width: var(--vspace-1_5);
    height: var(--vspace-1_5);
    padding: 0;
    opacity: 1;
}

#loader:before {
    content: "";
    border-top: 6px solid rgba(0, 0, 0, 0.2);
    border-right: 6px solid rgba(0, 0, 0, 0.2);
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    border-left: 6px solid black;
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
    display: block;
    border-radius: 50%;
    width: var(--vspace-1_5);
    height: var(--vspace-1_5);
}


@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* ------------------------------------------------------------------- 
 * ## page loaded
 * ------------------------------------------------------------------- */
 .ss-loaded #preloader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s .6s ease-in-out;
    transition: all .3s .6s ease-in-out;
}

.ss-loaded #preloader #loader {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}


.greet{
    color:#fff; 
    font-size: 20px;
    margin-right: 2em;
}

#messages{
    max-width: 800px;
    margin: auto;
    
}

.main{
    margin: 20px;
}

body{
    font-family: 'PT Sans', sans-serif;
    --webkit-font-smoothing:  antialiased;
}