*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #fbf3ff;
}

button[type="submit"]{
	border-radius: 30px;
}

label{
	margin-left: 0;
}
.login-form{
	max-width:  720px;
	margin: auto;
}

.separator{
	height: 5em;
}
.separator::after{
	content: '';
	height:  10em;
}





