:root{
	--base-font: 'Source Sans Pro', sans-serif;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-primary);
	transition: var(--transition-speed) ease;
}

.nav-links{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.nav-item{
	position: relative;
	padding: 0 1.25em;
	display: flex;
}

li a{
	text-decoration: none;
	color: #fff;
	font-family: var(--base-font);
}


.extra{
	display: flex;
	justify-content: space-between;
}

.extra a{
	text-decoration: none;
	margin: 0.625em;
	color: white;
}


@media  only screen and (max-width: 37.5em){
	/* 600px */
	.mobile-menu{
		display: flex;
	}
	.nav-links{
		display: none;
	}
}

@media  only screen and (min-width: 37.5em){
	/* 600px */
	.mobile-menu{
		display: flex;
	}
	.nav-links{
		display: none;
	}
	
}

@media  only screen and (min-width: 48em){
	/* 992px */
	.mobile-menu{
		display: flex;
	}
	.nav-links{
		display: none;
	}
}

@media  only screen and (min-width: 62em){
	/* 1200px */
	.mobile-menu{
		display: none;
	}
	.nav-links{
		display: flex;
	}
}

@media  only screen and (min-width: 75em){
	/* 1200px */
	.mobile-menu{
		display: none;
	}
	.nav-links{
		display: flex;
	}
}
