*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #fbf3ff;
}

.signup-form{
	max-width: 720px;
	margin: auto;
}


button[type="submit"]{
	border-radius: 30px;
}

.separator{
	height: 3em;
}
.separator::after{
	content: '';
	height:  10em;


}

button[type="submit"]{
	border-radius: 30px;
}


ul.errorlist{
	list-style: none;
	color: red;
}