*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #fbf3ff;
	

}

.container{
	margin-top: 100px;
}

.text-center{
	max-width: 800px;
	margin: auto;
}


button[type="submit"]{
	border-radius: 30px;
}

ul.errorlist{
	list-style: none;
	color: red;
}